*{
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,700 & display=swap');


:root{
    /* Cores Light Mode */
    --cor-branca: #fff;
    --cor-escura-texto: rgb(22, 22, 22);
    --cor-footer: #ccc;
    
    /* Cores do dark Mode */
    --cor-clara-texto: rgb(238, 238, 238);
    --cor-dark-mode: #000;
    --cor-footer-dark: rgb(51, 51, 51);
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    transition: .3s;
}

/* =============== corpo page =============== */
section{
    height: 80vh;
    background-color: var(--cor-section);
}

h1{
    font-weight: 700;
    font-size: 62px;

    margin: 1rem;

    color: var(--cor-escura-texto);
}

button{
    width: auto;
    max-width: 25vw;

    padding: .9rem;

    font-weight: 500;
    font-size: 1.3rem;

    color: var(--cor-branca);

    border: none;
    border-radius: 10px;

    background-color: var(--cor-footer);

    cursor: pointer;

    transition: ease .5s;
}

button:hover{
    background-color: var(--cor-branca);

    color: var(--cor-escura-texto);

    border: 1px solid var(--cor-escura-texto);
}

/* =============== footer =============== */
footer{
    height: 20vh;

    background-color: var(--cor-footer);
    color: var(--cor-escura-texto);

    font-weight: 100;
    font-size: 1rem;

}

footer p{
    margin: 1rem;

}

.dark-mode{
    background-color: var(--cor-dark-mode);
    color: var(--cor-clara-texto);

    transition: ease .3s;
}

.dark-mode button{
    background-color: var(--cor-clara-texto);
    color: var(--cor-escura-texto);
}

.dark-mode button:hover{
    background-color: var(--cor-footer);
    color: var(--cor-clara-texto);
    
    border: 1px solid var(--cor-clara-texto);
}


.dark-mode footer{
    background-color: var(--cor-footer-dark);
}


