
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,700&display=swap');

:root {
    /* CSS HEX */
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
    --light-gray: #ced4daff;
    --cadet-blue-crayola: #adb5bdff;
    --sonic-silver: #6c757dff;
    --davys-grey: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;

    --branco: #fff;
    --bg-rodape: #333;

    --destaque-botao: rgb(63, 63, 204);

    --roboto: 'Roboto', sans-serif;
}

body {
    background-color: var(--onyx);
    font-family: var(--roboto);

    color: var(--cultured);
}

.container {
    padding-right: 6%;
    padding-left: 6%;

    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-right: calc((100% - 940px)/2);
        padding-left: calc((100% - 940px)/2);
    
        margin: 0 auto;
    }
    
}