.destaque{
    margin-top: 2.3rem;
    margin-bottom: 2.1rem;
}

.container-destaque {
    padding: 2.7rem;

    font-weight: 100;
}

.destaque__config-imagem{
    height: 300px;
    width: auto;

    border-radius: 4px;
}

.destaque__promo--title{
    text-transform: uppercase;

    font-weight: 100;
    font-size: .8rem;

    padding-left: .3rem;
}

.destaque__promo{
    display: flex;
    justify-content: space-between;

    align-items: center;

    padding-right: .3rem;
    padding-left: .3rem;
}

.destaque__promo--color{
    display: inline-block;

    background-color: var(--destaque-botao);
    border-radius: 4px;

    padding: .5rem .7rem;

    font-size: .8rem;
}

