
header {
    background-color: var(--davys-grey);

    color: var(--gainsboro);
    padding: .7rem 0;

    border-bottom: .7px solid var(--cadet-blue-crayola);
}

/* ============= padrão ==================== */
.title {
    text-align: left;
    text-transform: capitalize;

    font-weight: 300;
    font-size: 1.5rem;

    padding-bottom: .5rem;
}

.text {
    text-align: justify;

    font-weight: 100;
    font-size: 1.3rem;
}

/* ============= Section Promoção ==================== */
.container-promocao {
    padding: 2.7rem;

    background-color: var(--davys-grey);

    border-radius: 5px;

    margin: 2.7rem;
}

.container-promocao .item img{
    height: auto;
    width: 100%;
}

/* ============= Rodapé ==================== */
footer {
    background-color: var(--eerie-black);
}
